<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.listings">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LISTINGS">
        <activity android:name="MainScreen.MainScreenOfApp"></activity>
        <activity android:name="Login_Signup.OTP_temp" />
        <activity android:name="Login_Signup.ForgetPasswordUpdateSuccessfulMessageDisplay" />
        <activity android:name="Login_Signup.SetNewPassword" />
        <activity android:name="Login_Signup.ForgotPassword_Options" />
        <activity android:name="Login_Signup.ForgotPassword" />
        <activity android:name="Login_Signup.OTP_verification_screen" />
        <activity android:name="Login_Signup.SignUp3rdPageClass" />
        <activity android:name="Login_Signup.SignUp2ndPageClass" />
        <activity android:name="Login_Signup.SignUp" />
        <activity android:name="Login_Signup.Login" />
        <activity android:name="LoginSignUp.LoginSignUpScreen" />
        <activity android:name=".FirstAppScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>